User: <%= current_user.email %><br><br>
Currently in game: <%= current_user.game&.id %><br>

<% Game.all.each do |game| %>
    Game: <%= game.id %><br>
    <a href="/games/<%= game.id %>/play">
        <button class="btn btn-success">Join</button>
    </a>
    <hr>
<% end %>
