<div class="loginContainer">
	<% if flash[:error] %>
		<div class="alert alert-danger" role="alert">
			<%= flash[:error] %>
		</div>
	<% end %>
	<div class="field">
		<%= form_tag("password_test", method: "post") do %>
		  Password: <input type="text" name="pwd" class="input"></input>
		  <input type="submit" class="btn btn-outline-light loginbutton"></input>
		<% end %>
	</div>
</div>
