// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.joinButtons{
    position: relative;
    top: 25px;
    right: 7px;
}


  #games{
      position: relative;
      left: 25%;
  }

  .card-header, .jumbotron, .navbar{
    background-color: black;
    color: white;
  }
  .jumbotron{
    position: relative;
    left: 25%;
  }
  .btn{
    color:black;
    background-color: white;
    border-color: black;
    min-width: 100px;
  }
  .btn:hover{

    color: white;
    background-color: black;
    border-color: black;
  }