.btn:hover{
  color: white;
  background-color: black;
  border-color: black;
}

.jumbotron, .navbar{
  background-color: black;
  color: white;

  &.jumbotron-dark{
    background-color: black;
    color: white;
  }
}

.btn{
  color:black;
  background-color: white;
  border-color: black;
}

.btn:hover{
  color: white;
  background-color: black;
  border-color: black;
}

#games {
  .card {
    width: 100%;
  }

  .card-header {
    background-color: black;
    color: white;
  }
}
