

.loginContainer
{
    width: 35%;
    position: relative;
    margin: 0 auto 0 auto;
    background-color: black;
    padding: 30px; 
    border-radius: 8px;
    transform: translateY(26%);
}
.signupContainer
{
    width: 35%;
    position: relative;
    margin: 0 auto 0 auto;
    background-color: black;
    padding: 30px; 
    border-radius: 8px;
    transform: translateY(18%);
}
.loginText
{
    color: white;
    text-align: center;
    font-family: "Heebo";
    font-size: 40px;
}

.input 
{
    border: inset;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px !important; 
    margin-top: 10px !important;
}

.inputContainer
{
    text-align: center;
}

.loginbutton
{
    width: 100%;
    padding: 10px !important;
    border-radius: 8px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.field{
    color:white;
}
.remember{
    float:left;
}
