html{
    font-family: Tahoma, Geneva, sans-serif;  
}
body{
    background-color: black;
    font-family: Tahoma, Geneva, sans-serif;
    width:980px;
    margin:auto; 
    height:auto; 
    overflow: auto;
}
#loginform {
    position: absolute;
    background-color: white;
    color: black;
    top: 18%;
    left: 40%;
    width: 30%;
    text-align: center;
  padding: 10px;
  border-radius: 8px;
}
#loginform *{
   padding: 10px;
}

#logintext {
    font-size: 25px;
}

.input {
    width: 80%;
    border-radius: 8px;
}
.actions {
    position: relative;
    left: 33%;
}
h1{
    position: relative;
    left: 65px;
    text-align: center;
    color: white;
}
.btn{
    max-width: 70px;
    color:black;
    background-color: white;
    border-color: black;
  }
  .btn:hover{
    color: white;
    background-color: black;
    border-color: black;
  }