
.loginContainer
{
    width: 35%;
    position: relative;
    margin: 0 auto 0 auto;
    background-color: black;
    padding: 30px; 
    transform: translateY(45%);
    border-radius: 8px;
}

h1
{
    color: white;
    text-align: center;
    font-family: "Heebo";
    font-size: 40px;
}

input 
{
    border: inset;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 50%;
    margin-bottom: 20px !important; 
    margin-top: 10px !important;
}

.inputContainer
{
    text-align: center;
}

button
{
    width: 50%;
    padding: 10px !important;
    border-radius: 8px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}